@import '../variables.css';


.adminServices {
  & .addLink {
    float: right;
  }

  & .filter {
    & .inlineField {
      display: inline-block;

      & .filterInput {
        margin: 0 -1px 0 0;

        & .filterInputInner {
          width: 150px;
        }
      }
    }
  }

  & .tableList {
    margin: 40px auto;
    padding-top: 90px;
  }

  & .tableListHeader {
    color: lightgrey;
    border-bottom: 1px solid lightgrey;
    font-size: 14px;
  }

  & .tableListEvenRow {
    background: lightgrey;
  }

  & .tableListRadio {
    background-color: #fdbc1d;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 5px 3px;
    text-align: center;
    width: 55px;
  }

  & .tableListBtn {
    display: inline-block;
    background-color: #f78d00;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 5px 3px;
    text-align: center;
    width: 65px;
    cursor: pointer;
  }

  & .clearSortFilter {
    cursor: pointer;
    text-decoration: underline;
    color: #f78d00;
  }

  & .red {
    background-color: #f2635f;
  }

  & .orange {
    background-color: #f78d00;
  }
}
