@import '../variables.scss';

.VerifyBookingPopup {
  .PopupDialog {
    box-sizing: border-box;
    height: 440px;
    margin-top: -220px;
    width: 370px;
    margin-left: -185px;

    .PopupTitle {
      display: none;
    }
  }

  .Account-container-item {
    box-sizing: border-box;
    width: 340px;
    background-color: #fff;
    padding: 40px;

    form {
      display: inline-block;

      h3 {
        color: $brand-color;
        font-weight: normal;
        font-size: 24px;
        margin: 0 0 24px 0;
        text-align: left;
      }

      input {
        margin: 0;
        font-size: 21px;
        border-radius: 0;
      }

      input + input {
        border-top: 0;
      }

      a.btn {
        width: 100%;
      }

      .Account-container-item-middle {
        height: 95px;
        padding: 10px 0;

        .ForgotPasswordContainer {
          padding: 10px 0;

          .ForgotPasswordLink {
            color: $secondary-color;
          }
        }

        input[type=checkbox]:not(old) + label > span:first-child {
          border-color: #ccc;
        }

        input[type=checkbox]:not(old):checked + label > span {
          color: $text-color;
        }
      }
    }
  }
}
