@import '../variables.css';

.sessionAddressDetails {
  background-color: #f3f3f3;
  position: relative;
  min-height: 100px;

  & .sessionAddressDetailsTitle {
    position: relative;

    & a {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
