@import '../variables.scss';
@import '../mixins.scss';

@import 'react-datepicker/dist/react-datepicker.css';

.BookingLocationUser {
  background-color: #f3f3f3;

  .BookingLocationUserWrapper {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .BookingLocationUserBody {
    flex: 10;
    font-size: 21px;

    input[type=radio] {
      margin-top: 20px;
    }

    textarea {
      width: 100%;
    }

    .select {
      display: inline-block;
    }

    .BookingLocationUserBodySection {
      padding: 20px 0;
      border-top: 1px solid $border-color;

      &:first-child {
        border: 0;
      }

      .datepicker__input {
        font: inherit;
        @mixin border-radius 0;
        @mixin box-shadow none;
      }

      .BookingLocationUserBodySectionTitle {
        position: relative;

        a {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }

    .BookingLocationUserBodyEditSection {
      padding: 20px 0;
      // border-top: 1px solid $border-color;

      &:first-child {
        border: 0;
      }

      h3 {
        font-weight: normal;
        font-size: 28px;
        border-bottom: 1px solid $border-color;
      }

      .BookingLocationUserBodyEditSectionTitle {
        position: relative;

        a {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }

      .datepicker__input {
        font: inherit;
        @mixin border-radius 0;
        @mixin box-shadow none;
      }

      form a {
        margin: 5px 5px 0 0; 
      }
    }

    .BookingLocationUserItem {
      display: inline-block;
      color: $text-color;
      width: 100%;

      @media (min-width: $screen-sm-min) {
        width: 50%;
      }

      @media (min-width: $screen-lg-min) {
        width: calc(100% / 3);
      }

      .BookingLocationUserRadio {
        // margin-right: 5px;
      }

      .BookingLocationUserRadioLabel {
        // cursor: pointer;
      }
    }

    .PatientAddress {
      display: flex;

      .PatientAddressLeft {
        flex: 1 0;
      }

      .PatientAddressRight {
        flex: 1 0;
      }

      @media (max-width: $screen-sm-min) {
        flex-flow: row wrap;
      }
    }

    .BookingLocationUserBodyAddPatient {
      padding: 20px 0;

      span {
        margin: 0 10px;
      }
    }

    .BookingLocationUserBodySelectPatient {
      background-color: $brand-color;
      padding: 20px;

      .select {
        margin: 0;
      }

      & > span {
        color: #fff;
        font-size: 25px;
        margin: 0 10px;
      }
    }
  }

  .BookingLocationUserSidebar {
    flex: 1 1 auto;
  }
}