@import '../variables.scss';
@import '../mixins.scss';

.Banner {
  .Banner-item {
    height: 500px;
    background-color: $body-bg;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: $screen-sm-min) {
      background-position: -550px 0px;
    }
  }

  .Banner-item-text-wrapper {
    position: relative;
    color: #fff;

    .Banner-item-text {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      @mixin text-shadow 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .Banner-item-button {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }

  #Banner-item-1 {
    .Banner-item-text-1 {
      top: 140px;
      font-size: 25px;
    }

    .Banner-item-text-2 {
      top: 200px;
      font-weight: bold;
      font-size: 60px;
      text-transform: uppercase;
    }

    .Banner-item-text-3 {
      top: 272px;
      font-size: 37px;
    }

    .Banner-item-text-4 {
      top: 340px;
    }

    @media (max-width: $screen-sm-min) {
      .Banner-item-text-1 {
        top: 70px;
      }

      .Banner-item-text-2 {
        top: 140px;
      }

      .Banner-item-text-3 {
        top: 300px;
      }

      .Banner-item-text-4 {
        top: 400px;
      }
    }
  }
}

#Banner-item-1 {
  background-image: url(banner-1.jpg);
}