@import '../variables.scss';
@import '../mixins.scss';

.Banner {
  position: relative;
  height: 500px;

  .SliderWrapper {
    .slick-slide {
      position: relative;
    }

    .slick-dots {
      bottom: 0;

      & li button:before {
        color: white;
      }
    }
  }

  .Banner-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
  }

  .Banner-item-text-wrapper {
    position: relative;
    color: #fff;

    .Banner-item-text {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      @mixin text-shadow 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .Banner-item-button {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }

  #Banner-item-1 {
    .Banner-item-text-1 {
      top: 90px;
      font-size: 25px;
    }

    .Banner-item-text-2 {
      top: 150px;
      font-weight: bold;
      font-size: 60px;
      text-transform: uppercase;
    }

    .Banner-item-text-3 {
      top: 300px;
      font-size: 37px;
    }

    .Banner-item-text-4 {
      top: 360px;
    }

    @media (max-width: $screen-sm-min) {
      .Banner-item-text-1 {
        top: 50px;
      }

      .Banner-item-text-2 {
        top: 120px;
      }

      .Banner-item-text-3 {
        top: 320px;
      }

      .Banner-item-text-4 {
        top: 400px;
      }
    }
  }

  .Banner-bg {
    // position: absolute;
    height: 500px;
    // width: 100%;
    background-color: $body-bg;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-text {
      position: absolute;
      width: 100%;
      top: 245px;
      text-align: center;
      color: #ffffff;
      font-size: 37px;
      @mixin text-shadow 1px 1px 1px rgba(0, 0, 0, 0.5);

      @media (max-width: $screen-sm-min) {
        top: 275px;
      }
    }

    &-enter {
      opacity: 0.01;
    }

    &-enter&-enter-active {
      opacity: 1;
      transition: opacity 1000ms ease-in;
    }

    &-leave {
      opacity: 1;
    }

    &-leave&-leave-active {
      opacity: 0.01;
      transition: opacity 1000ms ease-in;
    }
  }

  .Banner-bg-0 {
    background-image: url(banner-1.jpg);

    @media (max-width: $screen-sm-min) {
      background-position: -550px 0px;
    }
  }

  .Banner-bg-1 {
    background-image: url(banner-2.jpg);

    @media (max-width: $screen-sm-min) {
      background-position: 0px 0px;
    }
  }
}
