@import '../variables.scss';

.Partners {
  background-color: #f9f9f9;
  border-top: 1px solid #f0f0f0;
  padding: 5px 0;

  .Partners-list {
    text-align: center;

    @media (max-width: 681px) {
      padding: 0 20px;
    }

    .slick-slider {
      margin-bottom: 0;

      .slick-prev:before, .slick-next:before {
        color: #c3c3c3;

        @media (min-width: 681px) {
          display: none;
        }
      }
    }

    .Partners-logo {
      display: inline-block;
      margin: 0 10px;
    }
  }
}