@import '../variables.css';

.bookingResults {
  flex: 10;
  font-size: 21px;
  justify-content: center;
  position: relative;

  & .bookingResultsItem {
    padding: 10px 0;
    border-top: 1px solid var(--border-color);

    &:first-child {
      border-top: 0;
    }

    & .bookingResultsCheckbox {
      width: 0;
      float: left;

      &:checked + label {
        color: var(--secondary-color);
      }

      &:disabled + label {
        color: #969696;
      }
    }

    & .bookingResultsCheckboxLabel {
      display: block;
      // margin-left: 100px;

      & > span {
        float: left;
      }

      & .bookingResultsCheckboxLabelMetaWrapper {
        display: block;

        & .bookingResultsCheckboxLabelMeta {
          display: flex;
          justify-content: space-between;

          & span:nth-child(1) {
            width: 75px;
          }

          & span:nth-child(3) {
            width: 150px;
          }

          & :global .strike-through {
            color: var(--brand-color);
          }
        }
      }
    }
  }

  & .bookingPromoSection {
    & div {
      text-align: left;

      & input {
        margin-right: 0;
      }

      & :global button.btn {
        margin-top: 10px;
      }

      @media (--sm-viewport) {
        text-align: center;
      }
    }
  }
}