@import '../../variables.css';


.ProfileEditBasicForm {
  min-height: 400px;
  position: relative;
  padding-bottom: 40px;

  & .selectInput {
    display: inline-block;
  }

  & .formSectionSubmit {
    margin-top: 40px;
  }

  & .formError {
    color: red;
  }

}
