@import '../variables.css';

.dashboard {
  min-height: 400px;
  position: relative;

  & .dashboardStatsWrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;

    & > a {
      flex: 1;
    }
  }

  & .dashboardBody {
    margin-bottom: 40px;
    
    & .dashboardNextAppt {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      & .dashboardNextApptCalendar {
        flex: 1;
      }

      & .dashboardNextApptInfo {
        flex: 1;
      }
    }
  }
}

/*.dashboard {
  min-height: 400px;
  position: relative;

  & .dashboardNavWrapper {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);

    @media (--sm-viewport) {
      flex-direction: column;
      border-bottom: none;
    }
  }

  & .dashboardNav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;

    @media (--lg-viewport) {
      flex-wrap: wrap;
    }

    @media (--sm-viewport) {
      justify-content: center;
    }
  }

  & .dashboardNavItem {
    flex-grow: 1;
    padding: 0 0.5em;
    text-align: center;

    &:not(:first-child) {
      @media (--sm-xviewport) {
        border-left: 1px solid var(--brand-color);
      }
    }

    @media (--sm-viewport) {
      width: 100%;
      text-align: left;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 65px;
      margin: 0 0.5em;
      border-bottom: 1px solid var(--border-color);
    }
  }

  & .dashboardNavLink {
    position: relative;
    display: inline-block;
    padding: 0;
    color: var(--text-color);
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--secondary-color);
      text-decoration: none;
    }

    @media (--sm-viewport) {
      font-size: 18px;
    }

    &.dashboardNavLinkActive {
      color: var(--brand-color);

      & .dashboardNavArrow {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 20px;
        height: 14px;
        bottom: -24px;
        left: 0;
        right: 0;

        & :global .nav-caret {
          display: block;
        }

        @media (--sm-viewport) {
          display: none;
        }
      }
    }
  }

  & .serviceSubcatBody {
    border-top: 1px solid var(--secondary-color);

    & .serviceDescWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      & .serviceIconWrapper {
        flex: 1;

        & :global .service-icon {
          margin: 65px 30px 30px;

          @media (--sm-viewport) {
            margin: 35px 0 0;
          }
        }

        @media (--sm-viewport) {
          text-align: center;
        }
      }

      & .serviceContentWrapper {
        flex: 4;

        & .serviceSubTypeTitle {
          margin-top: 65px;
          font-size: 65px;
          color: var(--secondary-color);
          word-break: break-word;
          hyphens: auto;
          flex: 1;

          @media (--sm-viewport) {
            text-align: center;
            margin: 0;
          }
        }

        & .serviceSubTypeDesc {
          margin-top: 25px;
          margin-bottom: 65px;
          line-height: 22px;
          flex: 1;

          @media (--sm-viewport) {
            text-align: center;
            margin: 10px 0 35px;
          }
        }
      }

      & .serviceItem {
        color: var(--text-color);
        font-size: 15px;

        & .serviceItemDescription {
          &Price {
            font-style: italic;
          }
        }
      }

      @media (--sm-viewport) {
        flex-direction: column;
      }
    }

    & .serviceSubTypeListWrapper {
      & .serviceSubTypeList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (--md-viewport) {
          justify-content: center;
        }
      }
    }

    & .otherServices {
      & .otherServicesTitle {
        margin-top: 80px;
        margin-bottom: 55px;
        font-size: 35px;
        color: var(--secondary-color);

        @media (--sm-viewport) {
          text-align: center;
          margin: 20px 0 0;
        }
      }

      & .otherServicesList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 0 2em;
        padding: 20px 0 0;
        list-style: none;
        justify-content: flex-start;
        align-items: flex-start;

        @media (--sm-viewport) {
          padding: 0;
          justify-content: center;
        }

        & .otherServicesItem {
          padding: 10px 0;
          width: calc(100% / 5);
          text-align: center;

          @media (--xs-viewport) {
            padding: 0;
            width: calc(100% / 3);
          }
        }

        & .otherServicesItemTitle {
          color: var(--secondary-color);
          font-size: 22px;
          padding: 5px 10px;

          @media (--sm-viewport) {
            font-size: 18px;
            padding: 5px;
            overflow-wrap: break-word;
          }
        }
      }
    }
  }

  & .dashboardBody {
    margin-top: 50px;
    margin-bottom: 100px;

    & .dashboardBodySubcatSection {
      & .dashboardBodySubcatSectionTitle {
        color: var(--secondary-color);

        & a {
          color: var(--secondary-color);
        }
      }

      & .dashboardBodySubcatSectionBody {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (--md-viewport) {
          justify-content: center;
        }
      }
    }

    & .dashboardItem {
      color: var(--text-color);
      font-size: 15px;

      & .dashboardItemDescription {
        &Price {
          font-style: italic;
        }
      }
    }
  }

  & .dashboardFooter {
    padding-bottom: 100px;
    text-align: center;
  }
}*/
