@import '../variables.css';

.dashboard {
  min-height: 400px;
  position: relative;

  & .dashboardStatsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;

    & > a {
      flex: 1;
      width: 100%;
      min-width: 25%;

      @media (--xs-viewport) {
        min-width: 50%;
      }
    }

    @media (--sm-viewport) {
      margin-bottom: 30px;
    }
  }

  & .dashboardBody {
    margin-bottom: 40px;

    & .dashboardNextAppt {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      & .dashboardNextApptCalendar {
        flex: 1;
      }

      & .dashboardNextApptInfo {
        flex: 1;
      }
    }
  }
}
