@import '../variables.css';

.schedule {
  min-height: 400px;
  position: relative;

  & .scheduleWrapper {
    & .scheduleDayPicker {
      & :global .DayPicker {
        & :global .DayPicker-Day {
          & :global .DayPicker-Day-Wrapper {
            position: relative;

            & :global .morning {
              position: absolute;
              left: 0;
              height: 6px;
              width: 6px;
              border-radius: 50%;
              background-color: #fda738;
            }

            & :global .afternoon {
              position: absolute;
              margin: auto;
              left: 0;
              right: 0;
              height: 6px;
              width: 6px;
              border-radius: 50%;
              background-color: #e95900;
            }

            & :global .evening {
              position: absolute;
              right: 0;
              height: 6px;
              width: 6px;
              border-radius: 50%;
              background-color: #21a1de;
            }
          }
        }

        & .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
          background-color: #8b9898;
        }
      }
    }

    & .scheduleLegend {
      text-align: center;

      & .scheduleLegendTimeslot {
        display: inline-block;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 5px;
        color: #fff;

        & input[type=checkbox]:checked + label > span {
          color: #fff;
        }

        & input[type=checkbox] + label > span:first-child {
          border-color: #fff;

        }

        & input[type=checkbox]:checked + label > span:first-child::before {
          color: #fff;
        }

        &.scheduleLegendTimeslotMorning {
          background: #fda738;
        }

        &.scheduleLegendTimeslotAfternoon {
          background: #e95900;
        }

        &.scheduleLegendTimeslotEvening {
          background: #21a1de;
        }
      }
    }

    & .scheduleFooter {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    @media (--xs-viewport) {
      flex-flow: column wrap;
    }
  }
}