@import '../variables.css';

.dashboardAppointments {
  display: block;
  position: relative;

  & .dashboardInfoBtn {
    background-color: #FF8000;
    color: #FFFFFF;
    padding: 8px 36px;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 14px;
    margin-top: 10px;
    position: absolute;
    top: 16px;
    right: 0;

    @media (--sm-viewport) {
      top: 0;
    }

  }

  & .dashboardInfoBtn:hover {
    text-decoration: none;
  }

  & .cases {
    padding-top: 60px;

    & .casesFilter {
      text-align: right;

      & :global .select {
        margin: 20px 0 0 10px;
      }
    }

    & .dashboardDataTable {
      padding: 0;

      & .name {
        font-size: 22px;
      }

      & .lgHeader {
        margin: 0;
        font-weight: bold;
        background: #ECEDEC;
        font-weight: 600;
        font-size: 15px;
        padding: 10px;

        @media (--md-viewport) {
          display: none;
        }

      }

      & .sessionDetails {
        margin: 0;
        background: #f5f5f5;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        font-size: 15px;
        border-bottom: 1px solid #FFFFFF;

        & div {
          display: inline-flex;
          align-items: center;
          padding: 10px;
        }

        & div:nth-child(odd) {
          font-weight: bold;
          background: #f6f6f6;

          @media (--md-xviewport) {
            display: none;
          }
        }

        & div:nth-child(even) {
          @media (--md-viewport) {
            line-height: 1.5em;
          }
        }
      }

    }
  }

}
