@import '../variables.scss';
@import '../mixins.scss';

.BookingPatient {
  background-color: #f3f3f3;

  .BookingPatientWrapper {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 100px;

    @media (max-width: $screen-sm-min) {
      flex-direction: column;
    }
  }

  .BookingPatientBody {
    flex: 10;
    font-size: 21px;
  }
}
