@import '../variables.scss';
@import '../extends.scss';

.BookingNavigationItem {
  margin: 0 0.5em;

  .BookingNavigation-link {
    display: inline-block;
    padding: 0.5em;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

    .BookingNavigationItem-icon {
      display: inline-block;
      width: 45px;
      height: 51px;
      background: url(../polygon-white.png) no-repeat center;
      vertical-align: middle;
      text-align: center;
      line-height: 51px;

      @media (max-width: $screen-sm-min) {
        background-size: 75%;
      }
    }

    .BookingNavigationItem-text {
      vertical-align: middle;
      margin-left: 10px;

      @media (max-width: $screen-sm-min) {
        margin-left: 10px;
      }
    }

    &.active {
      color: $secondary-color;
      text-decoration: none;

      .BookingNavigationItem-icon {
        background: url(../polygon-orange.png) no-repeat center;

        @media (max-width: $screen-sm-min) {
          background-size: 75%;
        }
      }
    }

    @media (max-width: $screen-sm-min) {
      font-size: 21px;
      padding: 0 0.5em;
    }
  }

  a.BookingNavigation-link {
    &:hover, &.active {
      color: $secondary-color;
      text-decoration: none;

      .BookingNavigationItem-icon {
        background: url(../polygon-orange.png) no-repeat center;

        @media (max-width: $screen-sm-min) {
          background-size: 75%;
        }
      }
    }
  }

  @media (max-width: $screen-sm-min) {
    width: 100%;
    border-top: 1px solid #fff;

    &:first-child {
      border-top: none;
    }
  }
}
