@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Black"), local("ProximaNova-Black"), url(./proxima-nova-black.otf);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Black Italic"), local("ProximaNova-BlackIt"), url(./proxima-nova-black-italic.otf);
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url(./proxima-nova-bold.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"), url(./proxima-nova-bold-italic.otf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url(./proxima-nova-extrabold.otf);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Extrabold Italic"), local("ProximaNova-ExtrabldIt"), url(./proxima-nova-extrabold-italic.otf);
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Thin"), local("ProximaNovaT-Thin"), url(./proxima-nova-thin.otf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Thin Italic"), local("ProximaNova-ThinIt"), url(./proxima-nova-thin-italic.otf);
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"), url(./proxima-nova-semibold-italic.otf);
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url(./proxima-nova-regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"), url(./proxima-nova-regular-italic.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), url(./proxima-nova-light.otf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Light Italic"), local("ProximaNova-LightIt"), url(./proxima-nova-light-italic.otf);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url(./proxima-nova-semibold.otf);
  font-style: normal;
  font-weight: 600;
}
