@import '../variables.css';

.bookingPaypal {
  flex: 10;
  font-size: 21px;
  justify-content: center;
  position: relative;
  min-height: 300px;

  & .bookingPaypalLogo {
    margin: 0 10px;

    @media (--sm-viewport) {
      height: 25%;
      width: 25%;
    }
  }

  & .bookingPaypalFooter {
    @media (--sm-viewport) {
      text-align: center;
    }
  }
}