@import '../../variables.css';


.profileClientEdit {
  min-height: 400px;
  position: relative;

  & .editWrapper {
    display: flex;
    flex-flow: row wrap;

    & .sideBar {
      flex: 3;
      min-height: 550px;

      & .userImage {
        width: 100%;

        & img {
          width: 100%;
        }
      }

    }

    & .editPanel {
      flex: 8;

    }

  }

}
