@import 'normalize.css';

@import '../variables.scss';
@import '../mixins.scss';
@import '../extends.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
  font-size: 18px;
}

h1 {
  color: $secondary-color;
  font-weight: normal;
  font-size: 40px;
}

h2 {
  font-weight: normal;
}

h3 {
  margin: 0.5em 0;
}

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: 600;
}

hr {
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE;
  background: transparent url(divider.png) no-repeat center 0;
  height: 6px;
}

a.btn {
  text-decoration: none;
  cursor:pointer;
  text-align: center;
}

a.btn-primary {
  display: inline-block;
  background-color: $secondary-color;
  text-decoration: none;
  color: #fff;
  width: 260px;
  padding: 0.3em 0 0.3em 0;
  font-size: 25px;
  @extend font-smoothing;
  cursor:pointer;
  &:hover {
    background-color: $brand-color;
  }
}

a.btn-small {
  width: 150px;
  font-size: 21px;
  padding: 0.25em 0 0.25em 0;
}

a.btn-inline {
  margin-left: 20px;
  margin-right: 20px;
}

input[type=checkbox], input[type=radio] {
  cursor: pointer;
}

input[type=checkbox]:not(old) {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label {
  display     : inline-block;
  margin-left : -2em;
  line-height : 1.5em;
  cursor      : pointer;
}

input[type=checkbox]:not(old) + label > span:first-child {
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid $secondary-color;
  border-radius    : 0;
  background       : transparent;
  vertical-align   : bottom;
  cursor           : pointer;
}

input[type=checkbox]:not(old):checked + label > span {
  color: $secondary-color;
}

input[type=checkbox]:not(old):checked + label > span:first-child:before {
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : $secondary-color;
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  font-weight : bold;
}

input[type=radio]:not(old) {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=radio]:not(old) + label {
  display     : inline-block;
  margin-left : -2em;
  line-height : 1.5em;
  cursor      : pointer;
}

input[type=radio]:not(old) + label > span:first-child {
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid $secondary-color;
  border-radius    : 50%;
  vertical-align   : bottom;
  cursor           : pointer;
}

input[type=radio]:not(old):focus + label > span:first-child {
  outline: -webkit-focus-ring-color auto 5px;
}

input[type=radio]:not(old):checked + label > span:first-child > span {
  display          : block;
  width            : 0.4em;
  height           : 0.4em;
  margin           : 0.175em;
  border           : 0.0625em solid $secondary-color;
  border-radius    : 50%;
  background       : $secondary-color;
  cursor           : pointer;
}

input[type=text], input[type=email], input[type=password] {
  width: 230px;
  margin: 20px 20px 0 0;
  padding: 15px;
  border: 1px solid $border-color;

  &.EmailInput {
    width: 195px;
    padding-left: 50px;
    background: url('../mail.png') no-repeat 12.5px;
  }

  &.PasswordInput {
    width: 195px;
    padding-left: 50px;
    background: url('../lock.png') no-repeat 12.5px;
  }

  &.BookingIdInput {
    width: 195px;
    padding-left: 50px;
    background: url('../tick.png') no-repeat 12.5px;
  }

  &::-webkit-input-placeholder {
    color: #ddd;  
  }
  &:-moz-placeholder {  
    color: #ddd;  
  }
  &::-moz-placeholder {  
    color: #ddd;  
  }
  &:-ms-input-placeholder {  
    color: #ddd;  
  }
}

input.btn-inline {
  margin-left: 20px;
  margin-right: 20px;
}

textarea {
  box-sizing: border-box;
  min-width: 230px;
  border: 1px solid $border-color;
  margin-top: 20px;
  padding: 15px;
}

.select {
  position: relative;
  margin: 20px 20px 0 0;

  select {
    outline: none;
    -webkit-appearance: none;
    display: block;
    width: 260px;
    padding: 15px;
    margin: 0;
    
    border: 1px solid $border-color;
    border-radius: 0;

    background: #fff;
    color: #555;
    line-height: normal;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  & > span {
    background: #fff;
    bottom: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    pointer-events: none;
  }

  & > span:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -5px;
    pointer-events: none;
    border-top: 10px solid $secondary-color;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  & > span:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -5px;
    pointer-events: none;
    border-top: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}

.radio {
  margin-right: 20px;
}

.radio-inline {
  display: inline-block;
}

.nav-caret {
  display: none;
  position: relative;
}

.nav-caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 10px solid $secondary-color;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.nav-caret:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  border-top: 9px solid #f3f3f3;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.Layout {
  margin: 0 auto;
}

.NavWrapper {
  background-color: #FFF;
}

.small {
  font-size: 75%;
}

.text-center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.hidden {
  display: none !important;
}

.error {
  color: #FF0000;
}

.featured {
  font-size: 25px;
  line-height: 2em;
}

.TableRow {
  display: flex;
  flex-flow: row;
  align-items: center;

  .TableRowItem1 {
    flex: 1;
  }

  .TableRowItem2 {
    flex: 2;
  }

  .TableRowItem3 {
    flex: 3;
  }

  input {
    margin: 5px 0;
  }
}

/* Manage Booking page */
.page-padding{
  padding: 16px;
}

.flexi-layout{
  display: flex;
  /* Then we define the flow direction and if we allow the items to wrap 
  * Remember this is the same as:
  * flex-direction: row;
  * flex-wrap: wrap;
  */
  flex-flow: row wrap;
  flex-direction: row;
}

.card_shadow{
  background-color: #F5F5F5;
  @mixin box-shadow 0px 5px 5px -0px rgba(0,0,0,0.3);
}

.mytab{
    cursor:pointer;
	text-align:center;
	color:#eaaa1b;
	padding-top:15px;
	padding-bottom:15px;
	margin:0px;
	padding-left:0px;
	padding-right:0px;
	vertical-align: middle;
  
  &:hover, &.active:hover{
    background:$secondary-color;
    color:white;
  }
  
  &.active{
    background:$brand-color;
    color:white;
  }
}



.col1{
  width:100%; 
}

.col2{
  width:50%; 
}

.col4{
  width:25%; 
}

.myTabLayout{
  margin-bottom: 15px;
}

.myForm {
  width:100%;
  margin: 0 auto; 
  padding: 16px; 
  text-align: center;
  
  .formLabel {
    padding: 5px;
    margin: 0px;
  }
  
  .formItem {
    padding-bottom: 25px;
  }

  .formInput {
    height: 34px;
    padding-left: 5px;
    line-height: 34px; 
  }
}
/*---------- Modal  -------*/
$gray: #333;
$gray-light: #aaa;
$gray-lighter: #eee;
$space: 40px;
$blue: #428bca;
$blue-dark: darken($blue, 5%);

/*
@define-mixin translate $x $y {
  -webkit-transform: translate($x, $y);
      -ms-transform: translate($x, $y); 
          transform: translate($x, $y);
}
@define-mixin transition $transition {
  -webkit-transition: $transition;
          transition: $transition;
}
@define-mixin transition-transform $transition {
  -webkit-transition: -webkit-transform $transition;
     -moz-transition: -moz-transform $transition;
       -o-transition: -o-transform $transition;
          transition: transform $transition;
}
*/
.modal{
  /* This is modal bg */
  &:before{
    content: ""; 
    display: none;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; 
    z-index: 10;
  }
  
  &:target{
     
    /* Active animate in modal */
    &:before{
      display: block;
    }  
    
    .modal-dialog{
      /*@mixin translate(0, 0);*/
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0); 
      transform: translate(0, 0);      
      top: 20%;  
    }
     
  }
}

.modal-dialog{
  background: #fefefe;
  border: $gray solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed; 
  left: 50%; 
  top: -100%;  
  z-index: 11; 
  width: 360px;
  /*@mixin translate(0, -500%);*/
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%); 
  transform: translate(0, -500%);  
  /*@mixin transition-transform(~"0.3s ease-out");*/
  -webkit-transition: -webkit-transform ~"0.3s ease-out";
  -moz-transition: -moz-transform ~"0.3s ease-out";
  -o-transition: -o-transform ~"0.3s ease-out";
  transition: transform ~"0.3s ease-out";
}


.modal-body{
  padding: $space/2;
}

.modal-header,
.modal-footer{
  padding: $space/4 $space/2;
}

.modal-header{
  border-bottom: $gray-lighter solid 1px;
  
  h2 {
    font-size: 20px;
  }
}

.modal-footer{
  border-top: $gray-lighter solid 1px;
  text-align: right;
}

/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none; 
}

/* Free campaign landing page */
.top-header-label{
  background-color: $brand-color;
  
  h2 {
    color:#FFF;
    padding:32px;
    text-align:center;
  }
}

.content-details-top{
  display: flex;
  /* Then we define the flow direction and if we allow the items to wrap 
  * Remember this is the same as:
  * flex-direction: row;
  * flex-wrap: wrap;
  */
  flex-direction: row;
  padding-bottom:8px;
  
  @media (max-width: $screen-sm-min) {
    flex-wrap: wrap;
  }
}

.content-details-bottom{
  padding-top:8px;
  display: flex;
  /* Then we define the flow direction and if we allow the items to wrap 
  * Remember this is the same as:
  * flex-direction: row;
  * flex-wrap: wrap;
  */
  flex-direction: row;
  
  @media (max-width: $screen-md-min) {
    flex-wrap: wrap;
  }
}

.content-details-left{
  flex-grow: 2;
  min-width: 500px;
  margin-right:2%;
}

.content-details-right{
  flex-grow: 1;
  margin-left:5%;
  min-width: 300px;
  
  @media (max-width: $screen-md-min) {
      width: 100%;
  }
}

.special-text{
  color: $brand-color;
  font-weight: bold;
}
.fill-width {
  width:100%;
  max-width: 100%;
}

select {
  .place_holder{
    color: #a5a5a5;
  }
  
  option {
    color : #000;   
  }
}

.sign-up-form {

  .header {
      background-color: $brand-color;
      color: #FFF;
      text-align:center;
      padding:5px;
      font-weight: bold;
  }
  
  .item {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #e7e7e7;
    padding:5px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    
    .input {
        padding:5px;
        outline: none;
        border: 0px;
    }
  }
  
  .submit {
    background-color: $secondary-color;
    color: #FFF;
    cursor:pointer;
    text-align:center;
    padding:5px;
    font-weight: bold;
  }

}

.how-it-work-info{
  position: relative;
  margin-top:16px;
  display:inline-block;
  
  img {
      bottom:0;
      position: absolute;
  }
  
  .details{
    margin-left:200px;
    margin-top:120px;
    padding: 20px;
    padding-bottom : 10px;
    background-color: #6e6e6e;
    color: #fff;
    
    h2 {
      margin-left:125px;
      font-weight:bold;
      color:white;
    }
    
    p {
      margin-left:125px;
      color:white;
    }
  }
}

.relativePosition {
  position : relative;
}

.nurse-comment-section {
  position : relative;
  margin: 0 auto;
  display:inline-block;
  margin-top:80px;
  height:100%;
  bottom:0;

  img{
    z-index:100;
    position: absolute;
    left:0;
    right:0;
    top:0;
    margin-left:auto;
    margin-right:auto;
  }
  
  .content {
    margin-top:50px;
    vertical-align:middle;
    height:100%;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: $secondary-color; 
    text-align:center;
    
    .comment{
      text-align:center;
      display:block;
      margin-top:115px;
    }
    
    .name {
      color : $secondary-color;
      padding-top:16px;            
      display:block;
      margin-bottom:100px;
    }  
  }
}




