@import 'normalize.css';
@import '../fonts/proxima-nova.css';

@import '../variables.scss';
@import '../mixins.scss';
@import '../extends.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
  font-size: 18px;
}

h1 {
  color: $secondary-color;
  font-weight: normal;
  font-size: 40px;
}

h2 {
  font-weight: normal;
}

h3 {
  margin: 0.5em 0;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: 600;
}

hr {
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE;
  background: transparent url(divider.png) no-repeat center 0;
  height: 6px;
}

a.btn, button.btn {
  text-decoration: none;
  border: 0;
  cursor:pointer;
  text-align: center;
}

a.btn-primary, button.btn-primary {
  display: inline-block;
  background-color: $secondary-color;
  text-decoration: none;
  color: #fff;
  width: 260px;
  padding: 0.3em 0 0.3em 0;
  font-size: 25px;
  @extend font-smoothing;
  cursor:pointer;
  /*border-bottom: 2px solid #cb760a;
  box-shadow: inset 0 -2px #cb760a;
  &:hover {
    background-color: #cb760a;
  }*/
}

a.btn-secondary, button.btn-secondary {
  display: inline-block;
  background-color: #f2635f;
  text-decoration: none;
  color: #fff;
  width: 260px;
  padding: 0.3em 0 0.3em 0;
  font-size: 25px;
  @extend font-smoothing;
  cursor:pointer;
  border-bottom: 2px solid #cd5551;
  box-shadow: inset 0 -2px #cd5551;
  &:hover {
    background-color: #cd5551;
  }
}

a.btn-primary:disabled, button.btn-primary:disabled, a.btn-secondary:disabled, button.btn-secondary:disabled {
  background-color: #969696;
  cursor: default;
}

a.btn-small, button.btn-small {
  width: 150px;
  font-size: 21px;
  padding: 0.25em 0 0.25em 0;
}

a.btn-inline, button.btn-inline {
  margin-left: 20px;
  margin-right: 20px;
}

input[type=checkbox], input[type=radio] {
  cursor: pointer;
}

input[type=checkbox]:not(old) {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;

  & + label {
    display     : inline-block;
    margin-left : -2em;
    line-height : 1.5em;
    cursor      : pointer;

    & > span:first-child {
      display          : inline-block;
      width            : 0.875em;
      height           : 0.875em;
      margin           : 0.25em 0.5em 0.25em 0.25em;
      border           : 0.0625em solid $secondary-color;
      border-radius    : 0;
      background       : transparent;
      vertical-align   : bottom;
      cursor           : pointer;
    }
  }

  &:checked + label > span {
    color: $secondary-color;

    &:first-child:before {
      content     : '✓';
      display     : block;
      width       : 1em;
      color       : $secondary-color;
      font-size   : 0.875em;
      line-height : 1em;
      text-align  : center;
      font-weight : bold;
    }
  }

  &:disabled + label > span:first-child {
    border-color: #969696;
  }
}

input[type=radio]:not(old) {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;

  & + label {
    display     : inline-block;
    margin-left : -2em;
    line-height : 1.5em;
    cursor      : pointer;

    & > span:first-child {
      display          : inline-block;
      width            : 0.875em;
      height           : 0.875em;
      margin           : 0.25em 0.5em 0.25em 0.25em;
      /*border           : 0.0625em solid $secondary-color;*/
      border           : 1px solid $secondary-color;
      border-radius    : 50%;
      vertical-align   : bottom;
      cursor           : pointer;
    }
  }

  &:focus + label > span:first-child {
    outline: -webkit-focus-ring-color auto 5px;
  }

  &:checked + label > span:first-child > span {
    display          : block;
    width            : 0.4em;
    height           : 0.4em;
    margin           : 0.175em;
    /*border           : 0.0625em solid $secondary-color;*/
    border           : 1px solid $secondary-color;
    border-radius    : 50%;
    background       : $secondary-color;
    cursor           : pointer;
  }
}

input[type=text], input[type=email], input[type=password] {
  width: 230px;
  margin: 20px 20px 0 0;
  padding: 15px;
  border: 1px solid $border-color;

  &::-webkit-input-placeholder {
    color: #ddd;
  }
  &:-moz-placeholder {
    color: #ddd;
  }
  &::-moz-placeholder {
    color: #ddd;
  }
  &:-ms-input-placeholder {
    color: #ddd;
  }

  &:disabled {
    border: 1px solid #969696;
  }
}

input.btn-inline {
  margin-left: 20px;
  margin-right: 20px;
}

.IconInput {
  position: relative;
  width: 260px;
  height: 55px;
  border: 1px solid $border-color;

  > span {
    position: absolute;
    display: inline;
    width: 50px;
    height: 55px;
  }

  > input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 10px 15px 50px;
    margin: 0;
    border: 0;
    background: transparent;
  }

  &.EmailInput {
    > span {
      background: url('../mail.png') no-repeat 12.5px;
    }
  }

  &.BookingIdInput {
    > span {
      background: url('../tick.png') no-repeat 12.5px;
    }
  }

  &.PasswordInput {
    > span {
      background: url('../lock.png') no-repeat 12.5px;
    }
  }

  & + & {
    border-top: none;
  }
}

.DateInput {
  display: inline-block;
  position: relative;
  margin: 20px 20px 0 0;

  > input {
    width: 195px;
    padding-right: 50px;
    margin: 0;
  }

  > span {
    position: absolute;
    right: 15px;
    bottom: 16px;
    height: 25px;
    width: 25px;
    background: url('../calendar.png') no-repeat;

    &:hover {
      cursor: pointer;
    }
  }
}

textarea {
  box-sizing: border-box;
  min-width: 230px;
  border: 1px solid $border-color;
  margin-top: 20px;
  padding: 15px;

  &::-webkit-input-placeholder {
    color: #ddd;
  }
  &:-moz-placeholder {
    color: #ddd;
  }
  &::-moz-placeholder {
    color: #ddd;
  }
  &:-ms-input-placeholder {
    color: #ddd;
  }
}

input:disabled, textarea:disabled {
  color: #969696;
  background-color: #f3f3f3;
}

.select {
  position: relative;
  margin: 20px 20px 0 0;

  select {
    outline: none;
    -webkit-appearance: none;
    display: block;
    width: 260px;
    padding: 15px;
    margin: 0;

    border: 1px solid $border-color;
    @mixin border-radius 0;

    background: #fff;
    color: #555;
    line-height: normal;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  & > span {
    background: #fff;
    bottom: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    pointer-events: none;
  }

  & > span:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -5px;
    pointer-events: none;
    border-top: 10px solid $secondary-color;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  & > span:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -5px;
    pointer-events: none;
    border-top: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}

.radio {
  margin-right: 20px;
}

.radio-inline {
  display: inline-block;
}

.nav-caret {
  display: none;
  position: relative;
}

.nav-caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 10px solid $secondary-color;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.nav-caret:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  border-top: 9px solid #f3f3f3;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.Layout {
  margin: 0 auto;

  .Body {
    @media (max-width: $screen-sm-min) {
      margin-top: 57px;
    }
  }
}

.small {
  font-size: 75%;
}

.text-center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.strike-through {
  text-decoration: line-through;
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.error {
  color: #FF0000;
}

.featured {
  font-size: 22px;
  line-height: 1.5em;
}

.TableRow {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 5px 0;

  .TableRowItem1 {
    flex: 1;
  }

  .TableRowItem2 {
    flex: 2;
  }

  .TableRowItem3 {
    flex: 3;
  }
}

.service-icon {
  display: inline-block;
  width: calc($popular-icon-size * $popular-icon-multipler);
  height: calc($popular-icon-size * $popular-icon-multipler);
  background-image: url('../../assets/images/service-icons.png');
  background-repeat: no-repeat;
  background-size: calc($popular-icon-size * 5 * $popular-icon-multipler);
}
.service-icon.physiotherapy {
  background-position: calc($popular-icon-size * 0 * $popular-icon-multipler) calc($popular-icon-size * 0 * $popular-icon-multipler);
}
.service-icon.heart {
  background-position: calc($popular-icon-size * -1 * $popular-icon-multipler) calc($popular-icon-size * 0 * $popular-icon-multipler);
}
.service-icon.stethoscope {
  background-position: calc($popular-icon-size * -2 * $popular-icon-multipler) calc($popular-icon-size * 0 * $popular-icon-multipler2);
}
.service-icon.syringe {
  background-position: calc($popular-icon-size * -3 * $popular-icon-multipler) calc($popular-icon-size * 0 * $popular-icon-multipler);
}
.service-icon.bandage {
  background-position: calc($popular-icon-size * -4 * $popular-icon-multipler) calc($popular-icon-size * 0 * $popular-icon-multipler);
}
.service-icon.report {
  background-position: calc($popular-icon-size * 0 * $popular-icon-multipler) calc($popular-icon-size * -1 * $popular-icon-multipler);
}
.service-icon.motherchild {
  background-position: calc($popular-icon-size * -1 * $popular-icon-multipler) calc($popular-icon-size * -1 * $popular-icon-multipler);
}
.service-icon.housecall {
  background-position: calc($popular-icon-size * -2 * $popular-icon-multipler) calc($popular-icon-size * -1 * $popular-icon-multipler);
}
.service-icon.stomach {
  background-position: calc($popular-icon-size * -3 * $popular-icon-multipler) calc($popular-icon-size * -1 * $popular-icon-multipler);
}
.service-icon.lung {
  background-position: calc($popular-icon-size * -4 * $popular-icon-multipler) calc($popular-icon-size * -1 * $popular-icon-multipler);
}
.service-icon.headheart {
  background-position: calc($popular-icon-size * 0 * $popular-icon-multipler) calc($popular-icon-size * -2 * $popular-icon-multipler);
}
.service-icon.diabetic {
  background-position: calc($popular-icon-size * -1 * $popular-icon-multipler) calc($popular-icon-size * -2 * $popular-icon-multipler);
}
.service-icon.drip {
  background-position: calc($popular-icon-size * -2 * $popular-icon-multipler) calc($popular-icon-size * -2 * $popular-icon-multipler);
}
.service-icon.nutrition {
  background-position: calc($popular-icon-size * -3 * $popular-icon-multipler) calc($popular-icon-size * -2 * $popular-icon-multipler);
}
.service-icon.headdots {
  background-position: calc($popular-icon-size * -4 * $popular-icon-multipler) calc($popular-icon-size * -2 * $popular-icon-multipler);
}
.service-icon.needle {
  background-position: calc($popular-icon-size * 0 * $popular-icon-multipler) calc($popular-icon-size * -3 * $popular-icon-multipler);
}
.service-icon.urinary {
  background-position: calc($popular-icon-size * -1 * $popular-icon-multipler) calc($popular-icon-size * -3 * $popular-icon-multipler);
}
.service-icon.elderly {
  background-position: calc($popular-icon-size * -2 * $popular-icon-multipler) calc($popular-icon-size * -3 * $popular-icon-multipler);
}
.service-icon.ebeecare {
  background-position: calc($popular-icon-size * -3 * $popular-icon-multipler) calc($popular-icon-size * -3 * $popular-icon-multipler);
}
.service-icon.questionmark {
  background-position: calc($popular-icon-size * -4 * $popular-icon-multipler) calc($popular-icon-size * -3 * $popular-icon-multipler);
}
.service-icon.homeheart {
  background-position: calc($popular-icon-size * 0 * $popular-icon-multipler) calc($popular-icon-size * -4 * $popular-icon-multipler);
}
.service-icon.baby {
  background-position: calc($popular-icon-size * -1 * $popular-icon-multipler) calc($popular-icon-size * -4 * $popular-icon-multipler);
}
.service-icon.breast {
  background-position: calc($popular-icon-size * -2 * $popular-icon-multipler) calc($popular-icon-size * -4 * $popular-icon-multipler);
}

@media (max-width: $screen-sm-min) {
  .service-icon {
    display: inline-block;
    width: $popular-icon-size;
    height: $popular-icon-size;
    background-image: url('../../assets/images/service-icons.png');
    background-repeat: no-repeat;
    background-size: calc($popular-icon-size * 5);
  }
  .service-icon.physiotherapy {
    background-position: calc($popular-icon-size * 0) calc($popular-icon-size * 0);
  }
  .service-icon.heart {
    background-position: calc($popular-icon-size * -1) calc($popular-icon-size * 0);
  }
  .service-icon.stethoscope {
    background-position: calc($popular-icon-size * -2) calc($popular-icon-size * 0);
  }
  .service-icon.syringe {
    background-position: calc($popular-icon-size * -3) calc($popular-icon-size * 0);
  }
  .service-icon.bandage {
    background-position: calc($popular-icon-size * -4) calc($popular-icon-size * 0);
  }
  .service-icon.report {
    background-position: calc($popular-icon-size * 0) calc($popular-icon-size * -1);
  }
  .service-icon.motherchild {
    background-position: calc($popular-icon-size * -1) calc($popular-icon-size * -1);
  }
  .service-icon.housecall {
    background-position: calc($popular-icon-size * -2) calc($popular-icon-size * -1);
  }
  .service-icon.stomach {
    background-position: calc($popular-icon-size * -3) calc($popular-icon-size * -1);
  }
  .service-icon.lung {
    background-position: calc($popular-icon-size * -4) calc($popular-icon-size * -1);
  }
  .service-icon.headheart {
    background-position: calc($popular-icon-size * 0) calc($popular-icon-size * -2);
  }
  .service-icon.diabetic {
    background-position: calc($popular-icon-size * -1) calc($popular-icon-size * -2);
  }
  .service-icon.drip {
    background-position: calc($popular-icon-size * -2) calc($popular-icon-size * -2);
  }
  .service-icon.nutrition {
    background-position: calc($popular-icon-size * -3) calc($popular-icon-size * -2);
  }
  .service-icon.headdots {
    background-position: calc($popular-icon-size * -4) calc($popular-icon-size * -2);
  }
  .service-icon.needle {
    background-position: calc($popular-icon-size * 0) calc($popular-icon-size * -3);
  }
  .service-icon.urinary {
    background-position: calc($popular-icon-size * -1) calc($popular-icon-size * -3);
  }
  .service-icon.elderly {
    background-position: calc($popular-icon-size * -2) calc($popular-icon-size * -3);
  }
  .service-icon.ebeecare {
    background-position: calc($popular-icon-size * -3) calc($popular-icon-size * -3);
  }
  .service-icon.questionmark {
    background-position: calc($popular-icon-size * -4) calc($popular-icon-size * -3);
  }
  .service-icon.homeheart {
    background-position: calc($popular-icon-size * 0) calc($popular-icon-size * -4);
  }
  .service-icon.baby {
    background-position: calc($popular-icon-size * -1) calc($popular-icon-size * -4);
  }
  .service-icon.breast {
    background-position: calc($popular-icon-size * -2) calc($popular-icon-size * -4);
  }
}
