@import '../variables.scss';
@import '../mixins.scss';
@import '../extends.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
  font-size: 18px;
}

h1 {
  color: $secondary-color;
  font-weight: normal;
  font-size: 40px;
}

h2 {
  font-weight: normal;
}

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: 600;
}

hr {
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE;
  background: transparent url(divider.png) no-repeat center 0;
  height: 6px;
}

a.btn {
  text-decoration: none;
  cursor:pointer;
  text-align: center;
}

a.btn-primary {
  display: inline-block;
  background-color: $secondary-color;
  text-decoration: none;
  color: #fff;
  width: 260px;
  padding: 0.3em 0 0.3em 0;
  text-transform: uppercase;
  font-size: 25px;
  @extend font-smoothing;
  cursor:pointer;
  &:hover {
    background-color: $brand-color;
  }
}

input[type=checkbox]:not(old) {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label {
  display     : inline-block;
  margin-left : -2em;
  line-height : 1.5em;
  cursor      : pointer;
}

input[type=checkbox]:not(old) + label > span:first-child {
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
  cursor           : pointer;
}

input[type=checkbox]:not(old):checked + label > span:first-child {
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before {
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old) {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=radio]:not(old) + label {
  display     : inline-block;
  margin-left : -2em;
  line-height : 1.5em;
  cursor      : pointer;
}

input[type=radio]:not(old) + label > span:first-child {
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid $secondary-color;
  border-radius    : 50%;
  vertical-align   : bottom;
  cursor           : pointer;
}

input[type=radio]:not(old):checked + label > span:first-child > span {
  display          : block;
  width            : 0.4em;
  height           : 0.4em;
  margin           : 0.175em;
  border           : 0.0625em solid $secondary-color;
  border-radius    : 50%;
  background       : $secondary-color;
  cursor           : pointer;
}

.Layout {
  margin: 0 auto;
}

.NavWrapper {
  background-color: #FFF;
}

.text-center {
  text-align: center;
}

.featured {
  font-size: 25px;
  line-height: 2em;
}

.Banner {
  .Banner-item {
    height: 500px;
    background-color: $body-bg;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: $screen-sm-min) {
      background-position: -550px 0px;
    }
  }

  .Banner-item-text-wrapper {
    position: relative;
    color: #fff;

    .Banner-item-text {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      @mixin text-shadow 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .Banner-item-button {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }

  #Banner-item-1 {
    .Banner-item-text-1 {
      top: 140px;
      font-size: 25px;
    }

    .Banner-item-text-2 {
      top: 200px;
      font-weight: bold;
      font-size: 60px;
      text-transform: uppercase;
    }

    .Banner-item-text-3 {
      top: 272px;
      font-size: 37px;
    }

    .Banner-item-text-4 {
      top: 340px;
    }

    @media (max-width: $screen-sm-min) {
      .Banner-item-text-1 {
        top: 70px;
      }

      .Banner-item-text-2 {
        top: 140px;
      }

      .Banner-item-text-3 {
        top: 300px;
      }

      .Banner-item-text-4 {
        top: 400px;
      }
    }
  }
}

.Features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 5em 0;
  list-style: none;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0 0 0;

  @media (max-width: $screen-sm-min) {
    padding: 0;
  }
}

.Features-item {
  padding: 0 0.5em;
  width: 200px;
  text-align: center;

  @media (max-width: $screen-sm-min) {
    width: 100%;
  }
}

.Features-item-icon {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Features-item-title {
  color: $secondary-color;
  font-size: 22px;
  padding: 5px 0 5px 0;
}

.Actions {
  background-color: $brand-color;

  .Actions-list {
    display: flex;
    flex-direction: row;
    margin: 0 0 5em 0;
    padding-top: 60px;
    padding-bottom: 60px;
    list-style: none;
    justify-content: space-around;
    align-items: flex-start;

    @media (max-width: $screen-sm-min) {
      flex-wrap: wrap;
    }

    .Actions-item {
      flex-grow: 1;
      padding: 20px 60px;
      text-align: center;
    }

    @media (min-width: $screen-sm-min) {
      .Actions-item + .Actions-item {
        border-left: 1px solid #ffffff;
      }
    }

    @media (max-width: $screen-sm-min) {
      .Actions-item + .Actions-item {
        border-top: 1px solid #ffffff;
      }
    }

    .Actions-item-title {
      color: #ffffff;
      font-weight: 100;
      font-size: 40px;
      text-transform: uppercase;
      padding: 5px;
      @extend font-smoothing;
    }

    .Actions-item-button {
      display: inline-block;
      padding: 5px;
      color: #ffffff;
      font-weight: 600;
      font-size: 26px;
      text-transform: uppercase;
      width: 260px;
      border: 1px solid #ffffff;
      @mixin border-radius 5px;
      @extend font-smoothing;

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
  }
}

.Testimonials-list {
  display: flex;
  flex-direction: row;
  margin: 0 0 5em 0;
  list-style: none;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: $screen-sm-min) {
    flex-wrap: wrap;
  }
}

.Testimonials-item {
  position: relative;
  margin: 0 15px 65px 15px;
  padding: 0;
  width: 310px;
  height: 390px;
  border: 1px solid $secondary-color;
  text-align: center;
  font-size: 18px;
  line-height: 1.5em;

  .Testimonials-wrapper {
    padding: 1.5em;

    .Testimonials-item-text {
      color: $text-color;
      max-height: 230px;
      overflow: hidden;
    }

    .Testimonials-item-name {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 80px;
      color: $brand-color;
    }

    .Testimonials-item-avatar {
      position: absolute;
      width: 120px;
      height: 120px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: -60px;
    }
  }
}

/* Manage Booking page */
.page-padding{
    padding: 16px;
}

.flexi-layout{
    display: flex;
    /* Then we define the flow direction and if we allow the items to wrap 
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
    flex-flow: row wrap;
    flex-direction: row;
}

.card_shadow{
    background-color: #F5F5F5;
    @mixin box-shadow 0px 5px 5px -0px rgba(0,0,0,0.3);
}

.mytab{
    cursor:pointer;
	text-align:center;
	color:#eaaa1b;
	padding-top:15px;
	padding-bottom:15px;
	margin:0px;
	padding-left:0px;
	padding-right:0px;
	vertical-align: middle;
    &:hover, &.active:hover{
        background:$secondary-color;
        color:white;
    }
    
    &.active{
        background:$brand-color;
        color:white;
    }
}



.col1{
    width:100%; 
}

.col2{
    width:50%; 
}

.col4{
    width:25%; 
}

.myTabLayout{
    margin-bottom: 15px;
}

.myForm {
    width:100%;
    margin: 0 auto; 
    padding: 16px; 
    text-align: center;
    
    .formLabel {
        padding: 5px;
        margin: 0px;
    }
    
    .formItem {
        padding-bottom: 25px;
    }

    .formInput {
        height: 34px;
        padding-left: 5px;
        line-height: 34px; 
    }
}
/*---------- Modal  -------*/
$gray: #333;
$gray-light: #aaa;
$gray-lighter: #eee;
$space: 40px;
$blue: #428bca;
$blue-dark: darken($blue, 5%);

/*
@define-mixin translate $x $y {
  -webkit-transform: translate($x, $y);
      -ms-transform: translate($x, $y); 
          transform: translate($x, $y);
}
@define-mixin transition $transition {
  -webkit-transition: $transition;
          transition: $transition;
}
@define-mixin transition-transform $transition {
  -webkit-transition: -webkit-transform $transition;
     -moz-transition: -moz-transform $transition;
       -o-transition: -o-transform $transition;
          transition: transform $transition;
}
*/
.modal{
  /* This is modal bg */
  &:before{
    content: ""; 
    display: none;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; 
    z-index: 10;
  }
  
  &:target{
     
    /* Active animate in modal */
    &:before{
      display: block;
    }  
    
    .modal-dialog{
      /*@mixin translate(0, 0);*/
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0); 
      transform: translate(0, 0);      
      top: 20%;  
    }
     
  }
}

.modal-dialog{
  background: #fefefe;
  border: $gray solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed; 
  left: 50%; 
  top: -100%;  
  z-index: 11; 
  width: 360px;
  /*@mixin translate(0, -500%);*/
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%); 
  transform: translate(0, -500%);  
  /*@mixin transition-transform(~"0.3s ease-out");*/
  -webkit-transition: -webkit-transform ~"0.3s ease-out";
  -moz-transition: -moz-transform ~"0.3s ease-out";
  -o-transition: -o-transform ~"0.3s ease-out";
  transition: transform ~"0.3s ease-out";
}


.modal-body{
  padding: $space/2;
}

.modal-header,
.modal-footer{
  padding: $space/4 $space/2;
}

.modal-header{
  border-bottom: $gray-lighter solid 1px;
  h2{
    font-size: 20px;
  }
}

.modal-footer{
  border-top: $gray-lighter solid 1px;
  text-align: right;
}

/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none; 
}






