@import '../variables.css';


.profile {
  min-height: 400px;
  position: relative;

  & .providerSection {

    & .noSkill {
      color: #777;

      & .link {
        color: var(--brand-color);
      }
    }

    & .skillContainer {
      text-align: center;

      & .providerSegment {
        margin: 44px 0;
      }

      & .title {
        color: var(--brand-color);
      }

      & .eachSkill {
        color: #FFF;
        background-color: var(--brand-color);
        border-radius: 15px;
        padding: 5px 10px;
      }

    }

    & .educationContainer {
      color: var(--brand-color);

      & .title {
        text-align: center;
      }

      & .educationBody {
        margin: 0 10px 15px;
        padding: 50px 15px 20px;
        background-color: #f0f0f0;
        box-shadow: 0px 3px 3px -3px #ccc;
        -webkit-box-shadow: 0px 3px 3px -3px #ccc;
        border-radius: 3px;
        color: #333;
        position: relative;
        text-align: center;

        & .flag {
          position: absolute;
          top: 10px;
          left: -10px;
          text-align: center;

          & .flagCert {
            background-color: var(--brand-color);
            display: inline-block;
            box-shadow: -3px 0 7px -3px rgba(68, 68, 68, .5);
            color: #FFF;
            font-size: 14px;
            padding: 7px 10px;
          }

          & .flagDate {
            background-color: #f78d00;
            color: #FFF;
            box-shadow: -3px 0 7px -3px rgba(68, 68, 68, .5);
            display: inline-block;
            font-size: 14px;
            padding: 7px 10px;
          }
        }

        & .bodyCourse {
          color: #636363;
        }

        & .bodyInstitute {
          color: #636363;
          font-size: 14px;
        }
      }
    }

    & .experienceContainer {
      color: var(--brand-color);

      & .title {
        text-align: center;
      }

      & .experienceBody {
        margin-left: 150px;
        border-left: 8px solid #dfdfdf;

        & .experienceEach {
          position: relative;
          transition: .5s;

          & .timeFlag {
            position: absolute;
            width: 116px;
            top: 10px;
            left: -150px;
            background-color: #f78d00;
            padding: 10px 15px;
            color: #FFF;
            font-size: 14px;
          }

          & .timeDot {
            position: absolute;
            top: 17px;
            left: -15px;
            width: 15px;
            height: 15px;
            border: 4px solid #dfdfdf;
            border-radius: 50%;
            background-color: #FFF;
            transition: .3s;
          }

          & .experienceContent {
            margin: 10px 0 10px 20px;
            border-left: 10px solid var(--brand-color);
            border-color: var(--brand-color);
            padding: 18px 20px;
            box-shadow: 0 3px 3px -3px #ccc;
            border-radius: 5px;
            background: #f0f0f0;
            text-align: center;

            & .experienceEmployer {
              color: #636363;
              font-size: 16px;
              margin: 5px auto;
            }

            & .experiencePos {
              font-size: 14px;
              max-height: 0;
              transition: .7s;

              & .experiencePosBody {
                font-size: 18px;
                visibility: hidden;
                margin: 0;
                /*transition: margin .7s;*/
              }

              & .experiencePosDes {
                color: #636363;
                font-size: 14px;
                visibility: hidden;
                margin: 0;
                transition: margin .7s;
              }

            }
          }
        }

        & .experienceEach:hover {
          & .timeDot {
            background-color: var(--brand-color);
            transition: .3s;
          }

          & .experienceContent {

            & .experiencePos {
              max-height: 200px;
              transition: .7s;

              & .experiencePosBody {
                visibility: visible;;
                margin: 14px 0;
                /*transition: margin .7s;*/
              }

              & .experiencePosDes {
                visibility: visible;;
                margin: 14px 0;
                transition: margin .7s;
              }
            }
          }
        }
      }
    }

    & .achievementContainer {
      color: var(--brand-color);

      & .title {
        text-align: center;
      }

      & .achievementBody {
        margin: 0 10px 15px;
        padding: 50px 15px 20px;
        background-color: #f0f0f0;
        box-shadow: 0px 3px 3px -3px #ccc;
        -webkit-box-shadow: 0px 3px 3px -3px #ccc;
        border-radius: 3px;
        color: #333;
        position: relative;
        text-align: center;

        & .flag {
          position: absolute;
          top: 10px;
          left: -10px;
          text-align: center;

          & .flagCert {
            background-color: var(--brand-color);
            display: inline-block;
            box-shadow: -3px 0 7px -3px rgba(68, 68, 68, .5);
            color: #FFF;
            font-size: 14px;
            padding: 7px 10px;
          }

          & .flagDate {
            background-color: #f78d00;
            color: #FFF;
            box-shadow: -3px 0 7px -3px rgba(68, 68, 68, .5);
            display: inline-block;
            font-size: 14px;
            padding: 7px 10px;
          }
        }

        & .bodyOrg {
          color: #636363;
        }

        & .bodyDes {
          color: #636363;
          font-size: 14px;
        }
      }

    }

  }
}
