@import '../../variables.css';


.ProfileEditPasswordForm {
  min-height: 400px;
  position: relative;
  padding-bottom: 40px;

  & .formSectionSubmit {
    margin-top: 40px;
  }

  & .formSectionSubmit {
    margin-top: 40px;
  }

  & .formError {
    color: red;
  }

}
