@import '../variables.css';


.promocodeManage {
  & .addLink {
    text-align: right;
  }

  & .tableList {
    margin: 40px auto;
    border: 1px solid grey;

    & .tableListRow {
      border-bottom: 1px solid lightgrey;
    }
  }
}
