@import '../variables.scss';
@import '../extends.scss';

.BookingNavigation-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  background-color: $brand-color;

  @media (max-width: $screen-sm-min) {
    flex-direction: column;
  }
}

.BookingNavigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $screen-lg-min) {
    flex-wrap: wrap;
  }

  @media (max-width: $screen-sm-min) {
    justify-content: center;
  }

  .BookingNavigation-item {
    padding: 0 0.5em;

    .BookingNavigation-link {
      display: inline-block;
      padding: 0.5em 1em;
      color: #fff;
      font-size: 28px;
      text-decoration: none;
      cursor: pointer;

      .BookingNavigation-item-icon {
        vertical-align: middle;
      }

      .BookingNavigation-item-icon-polygon {
        fill: transparent;
        stroke-width: 2;
        stroke: #ffffff;
      }

      .BookingNavigation-item-icon-text {
        fill: #ffffff;
      }

      .BookingNavigation-item-text {
        vertical-align: middle;
        margin-left: 25px;
      }

      &:hover {
        color: $secondary-color;
        text-decoration: none;

        .BookingNavigation-item-icon {
          stroke: $secondary-color;
        }

        .BookingNavigation-item-icon-polygon {
          stroke: $secondary-color;
        }

        .BookingNavigation-item-icon-text {
          fill: $secondary-color;
        }
      }

      &.active {
        color: $secondary-color;
        font-weight: bold;

        .BookingNavigation-item-icon {
          stroke: $secondary-color;
        }
      }

      @media (max-width: $screen-sm-min) {
        // font-size: 12px;
      }
    }
  }
}