@import '../../variables.css';


.profileEdit {
  min-height: 400px;
  position: relative;

  & .editWrapper {
    display: flex;
    flex-flow: row wrap;

    & .sideBar {
      flex: 3;
      padding-bottom: 40px;

      & .userImage {
        width: 100%;

        & img {
          width: 100%;
        }
      }

    }

    & .editPanel {
      flex: 8;

      & .editPanelContainer {
        padding-left: 40px;
      }
    }

  }

}
