@import 'proxima-nova.scss';

/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: #f3f3f3;
$body-bg: #ffffff;
$text-color: #444;
$brand-color: #fdbc1d;
$secondary-color: #f78d00;

/*
 * Typography
 * -------------------------------------------------------------------------- */

$font-family-base: 'Proxima Nova', sans-serif;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
