@import '../variables.css';

.container {
  margin: 0 auto;

  &.nav {
    background-color: #999;
    width: 100% !important;
  }
}

@media (--sm-viewport) {
  .container {
    width: 97%;
  }
}

@media (--sm-xviewport) {
  .container {
    width: calc(var(--screen-sm-min) - 18px);
  }
}

@media (--md-xviewport) {
  .container {
    width: calc(var(--screen-md-min) - 22px);
  }
}

@media (--lg-xviewport) {
  .container {
    width: calc(var(--screen-lg-min) - 30px);
  }
}
