@import '../variables.scss';

.Container {
  margin: 0 auto;

  &.nav {
    background-color: #999;
    width: 100% !important;
  }
}

@media (max-width: $screen-sm-min) {
  .Container {
    width: 97%;
  }
}

@media (min-width: $screen-sm-min) {
  .Container {
    width: calc($screen-sm-min - 18px);
  }
}

@media (min-width: $screen-md-min) {
  .Container {
    width: calc($screen-md-min - 22px);
  }
}

@media (min-width: $screen-lg-min) {
  .Container {
    width: calc($screen-lg-min - 30px);
  }
}
