@import '../variables.scss';
@import '../extends.scss';
@import '../mixins.scss';

.NavWrapper {
  background-color: #FFF;
  position: relative;
  @mixin box-shadow 0px 2px 2px rgba(0, 0, 0, 0.25);

  @media (max-width: $screen-sm-min) {
    z-index: 2;
    position: fixed;
    height: 57px;
    top: 0;
    left: 0;
    right: 0;
  }
}

.Navigation-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;

  .Navigation {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: $screen-lg-min) {
      flex-wrap: wrap;
    }

    @media (max-width: $screen-sm-min) {
      display: none;
    }
  }
}

.Navigation-item {
  padding: 0 0.5em;

  .Navigation-link {
    display: inline-block;
    padding: 0.5em 1em;
    color: $text-color;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid $text-color;
      color: $text-color;
      text-decoration: none;
    }

    &.active {
      border-bottom: 3px solid $brand-color;
      color: $brand-color;
      font-weight: bold;
    }

    @media (max-width: $screen-sm-min) {
      font-size: 18px;
    }
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 20px;
  right: 18.5px;
  top: 18.5px;

  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $brand-color;
  height: 10% !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $secondary-color;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  // padding: 0.8em;

  .Navigation-item {
    padding: 0;

    .Navigation-link {
      &.active, &:hover {
        border-bottom: none;
      }
    }
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}