@import '../variables.scss';

.Features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 5em 0;
  list-style: none;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0 0 0;

  @media (max-width: $screen-sm-min) {
    padding: 0;
  }

  .Features-item {
    padding: 0 0.5em;
    width: 200px;
    text-align: center;

    @media (max-width: $screen-sm-min) {
      width: 100%;
    }

    .Features-item-icon {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .Features-item-title {
      color: $secondary-color;
      font-size: 22px;
      padding: 5px 0 5px 0;
    }
  }
}