@import '../variables.scss';
@import '../mixins.scss';

.BookingPatientForm {
  background-color: #f3f3f3;

  flex: 10;
  font-size: 21px;

  input[type=radio] {
    margin-top: 20px;
  }

  textarea {
    width: 100%;
  }

  .select {
    display: inline-block;
  }

  .BookingPatientFormSection {
    padding: 20px 0;
    border-top: 1px solid $border-color;

    .BookingPatientFormGroup {
      display: inline-block;
      vertical-align: top;

      .radio {
        margin-top: 20px;
      }

      .BookingPatientFormError {
        padding: 5px 15px;
        color: $secondary-color;
        font-size: 85%;
      }
    }

    .BookingPatientFormError {
      padding: 5px 0;
      color: $secondary-color;
    }

    &:first-child {
      border: 0;
    }

    .datepicker__input {
      font: inherit;
      @mixin border-radius 0;
      @mixin box-shadow none;
    }

    .BookingPatientFormSectionTitle {
      position: relative;

      a {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .PatientDetailsLabel2 {
      @media (max-width: $screen-sm-min) {
        display: block;
      }
    }
  }

  .PatientAddress {
    display: flex;

    .PatientAddressLeft {
      flex: 1 0;
    }

    .PatientAddressRight {
      flex: 1 0;
    }

    @media (max-width: $screen-sm-min) {
      flex-flow: row wrap;
      flex-direction: column;
    }
  }
}
