@import '../../variables.css';


.adminPromocodesForm {
  & .mainCat {
    & .mainCatCol {
      padding: 0 30px;

      & .mainCatContainer {

        & .inputField {
          text-align: right;

          & .dateInput, & .textInput {
            margin-right: 0;
          }

          & .multiSelect {
            text-align: left;
          }

          & .discountTypeInput {
            width: 110px;
          }

          & .descriptionInput {
            width: 100%;
          }

          & .isActiveInput {
            display: inline-block;
            /*margin-left: 15%;*/
          }

          & .isActiveInput:last-of-type {
            margin-left: 15%;
          }
        }

        & .inlineField {
          display: inline-block;
        }
      }
    }
  }

  & .formSectionSubmit {
    text-align: center;
    margin: 40px auto 80px;
  }

  & .formError {
    color: red;
  }
}
