@import '../variables.css';

.bookingPostComplete {
  background-color: #f3f3f3;
  position: relative;

  & .bookingPostCompleteBody {
    text-align: center;
    padding: 80px 0;
    min-height: 300px;

    & div {
      margin: 20px 0;
    }

    & a {
      color: var(--brand-color);
    }

    & .bookingPostCompleteHeader {
      color: var(--brand-color);
      font-weight: 100;
      font-size: 50px;
      text-transform: uppercase;
    }

    & .bookingPostCompleteFooter {
      & :global a.btn-primary {
        color: #fff;
        text-transform: none;
        font-size: 21px;
        margin: 5px;
      }
    }

    @media (--sm-viewport) {
      padding-top: 20px;
    }
  }
}
