@import '../variables.css';

.patientsFormSecond {
  flex: 10;
  font-size: 21px;

  & input {
    margin: 0;
  }

  & textarea {
    width: 100%;
    margin: 0;
  }

  & .patientsFormSecondSection {
    padding: 0 0 20px;

    & .patientsFormSecondError {
      padding: 5px 0;
      color: var(--secondary-color);
    }
    
    & :global .btn:not(:last-child) {
      margin-right: 10px;

      @media (--xs-viewport) {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }

    @media (--sm-viewport) {
      text-align: center;
    }
  }
}
