@import '../variables.css';

.applicationsView {
  background-color: #f3f3f3;
  position: relative;
  min-height: 300px;

  & .applicationsViewWrapper {
    padding-top: 50px;
    padding-bottom: 100px;

    & .applicationsViewBody {
      font-size: 21px;

      & .applicationsViewBodyColumnWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & .applicationsViewBodyColumn {
          flex: 1;
        }

        & .applicationsViewBodyColumn:not(:first-of-type) {
          margin-left: 20px;

          & :global .TableRowHeader {
            color: var(--brand-color);
            font-style: italic;
          }

          @media (--sm-viewport) {
            margin-left: 0;
          }
        }

        @media (--sm-viewport) {
          flex-direction: column;
        }
      }

      & input[type=radio] {
        margin-top: 20px;
      }

      & textarea {
        width: 100%;
      }

      & :global .select {
        display: inline-block;
      }

      & .applicationsViewBodyActions {
        float: right;

        & span:not(:first-of-type) {
          margin-left: 5px;
        }
      }

      & .applicationsViewBodySection {
        position: relative;
        min-height: 150px;
        padding: 20px 0;

        /* border-top: 1px solid var(--border-color); */

        &:first-child {
          border: 0;
        }

        & h3 {
          font-weight: normal;
          font-size: 28px;
          border-bottom: 1px solid var(--border-color);
        }

        & .applicationsViewBodySectionTitle {
          position: relative;

          & a {
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }

        & :global .datepicker__input {
          font: inherit;
          border-radius: 0;
          box-shadow: none;
        }

        & form a {
          margin: 5px 5px 0 0;
        }
      }

      & .applicationsViewItem {
        display: inline-block;
        color: var(--text-color);
        width: 100%;

        @media (--sm-xviewport) {
          width: 50%;
        }

        @media (min-width: $screen-lg-min) {
          width: calc(100% / 3);
        }

        & .applicationsViewRadio {
          /* margin-right: 5px; */
        }

        & .applicationsViewRadioLabel {
          /* cursor: pointer; */
        }
      }

      & .additionalInfoImages {
        & img {
          height: 150px;
          margin-right: 5px;
        }
      }

      & .applicationsViewFooter {
        & a {
          margin: 5px;
        }

        @media (--sm-viewport) {
          text-align: center;
        }
      }
    }
  }

  & .applicationsViewSidebar {
    flex: 1 1 auto;
  }
}
