@import '../variables.scss';

@import 'react-day-picker/lib/style.css';

.BookingDate {
  flex: 10;
  font-size: 21px;
  justify-content: center;

  .btn-inline {
    margin-left: 20px;
    margin-right: 20px;
  }

  .BookingDateTo {
    display: inline-block;

    @media (max-width: $screen-md-min) {
      display: block;
      margin-top: 20px;
    }
  }

  input {
    text-align: center;
  }

  .DayPicker {
    .DayPicker-Day.DayPicker-Day--today {
      color: $secondary-color;
    }

    .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
      background-color: $secondary-color;
    }
  }
}