@import '../../variables.css';


.documentationMedicalHistoryForm {

  & .issueSetSection {
    margin-bottom: 40px;

    & .issueTitle {
      display: inline-block;
      width: 200px;
      vertical-align: top;
      padding-top: 35px;
    }

    & .issueContent {
      display: inline-block;
      width: 450px;
      padding: 20px 0;

      & .textInput {
        margin: 0;
      }

      & .textareaInput {
        width: 100%;
        margin: 0;
      }

      & .textInputWithSelection {
        display: inline;
        vertical-align: top;
        margin: 0 0 0 10px;
      }

      & .multiTextContainer {
        width: 400px;

        & .textInputBody {
          display: inline-block;

          & .textInput {
            margin-top: 20px;
          }
        }

        & .textInputBody:first-of-type .textInput {
          margin-top: 0;
        }

        & .multiTextFieldBtn {
          padding: 3px 7px;
          width: auto;
          margin-left: 10px;
        }
      }
    }
  }

  & .addMedicationRow {
    text-align: right;

    & .multiTextFieldBtn {
      padding: 3px 10px;
      width: auto;
      margin: 10px auto 40px;
    }
  }

  & .handleForm {
    text-align: center;
    margin: 40px auto 60px;
  }
}
