@import '../../variables.css';


.documentationMedicalHistoryForm {

  & .issueSetSection {
    margin-bottom: 40px;

    & .issueTitle {
      display: inline-block;
      width: 200px;
      vertical-align: top;
      padding-top: 35px;
    }

    & .issueContent {
      display: inline-block;
      width: 450px;
      padding: 20px 0;

      & .textInput {
        margin: 0;
      }

      & .textareaInput {
        width: 100%;
        margin: 0;
      }

      & .multiTextContainer {
        width: 330px;

        & .textInput {
          margin-top: 20px;
        }

        & .textInput:first-of-type {
          margin-top: 0;
        }

        & .multiTextFieldBtn {
          padding: 3px 7px;
          width: auto;
          margin-left: 10px;
        }
      }
    }
  }

  & .medicationTitle {
    margin: 20px 0;
  }

  & .handleForm {
    text-align: center;
    margin: 40px auto 60px;
  }
}
