@import '../variables.scss';

.Popular {
  position: relative;
  min-height: 200px;
  padding: 20px 0;

  .Popular-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 5em 0;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0 0 0;

    @media (max-width: $screen-sm-min) {
      padding: 0;
    }

    .Popular-item {
      padding: 10px 0;
      width: calc(100% / 4);
      text-align: center;

      @media (max-width: $screen-sm-min) {
        padding: 0;
        width: calc(100% / 3);
      }

      &.last-item {
       @media (min-width: $screen-sm-min) {
         display: none;
       }
      }


      &.Popular-item-question {


        .Popular-item-question-icon {
          display: inline-block;
          width: $popular-icon-size;
          height: $popular-icon-size;

          img {
            width: 100%;
          }
        }
      }

      .Popular-item-icon {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .Popular-item-title {
        color: $secondary-color;
        font-size: 22px;
        padding: 5px 0 5px 0;

        @media (max-width: $screen-sm-min) {
          font-size: 18px;
        }
      }
    }
  }
}
