@import '../variables.scss';

.Testimonials {
  background-color: $brand-color;
  padding: 20px 0;
  height: 550px;

  h1 {
    color: #fff;
  }

  .Testimonials-list {
    /*display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;*/
    margin: 0 0 20px 0;
    list-style: none;

    @media (max-width: $screen-sm-min) {
      flex-wrap: wrap;
    }
  }

  .Testimonials-slider-item {
    text-align: center;

    .Testimonials-item {
      display: inline-block;
      position: relative;
      background-color: #fff;
      margin: 0 15px 65px 15px;
      padding: 0;
      width: 300px;
      height: 280px;
      text-align: center;
      font-size: 18px;
      line-height: 1.5em;

      @media (max-width: $screen-sm-min) {
        margin: 0 0 65px 0;
      }

      .Testimonials-wrapper {
        padding: 1em;

        .Testimonials-item-text {
          color: $text-color;
          max-height: 230px;
          overflow: hidden;
        }

        .Testimonials-item-name {
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          bottom: 65px;
          color: $brand-color;
        }

        .Testimonials-item-avatar {
          position: absolute;
          width: 120px;
          height: 120px;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          bottom: -60px;

          img {
            width: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .Testimonials-footer {
    text-align: center;
  }
}
