@import '../variables.css';

.creditsWithdraw {
  min-height: 400px;
  position: relative;

  & .creditsWithdrawWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & .creditsWithdrawTabs {
      flex: 3;
    }

    & .creditsWithdrawPanel {
      flex: 8;
      margin-left: 30px;

      @media (--sm-viewport) {
        margin-left: 0;
      }
    }
  }

  & .addPatient {
    margin-bottom: 30px;
    padding: 12px 14px;
    background-color: #FBF8F1;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .addPatientBtn {
      padding-left: 10px;
    }
  }

  & .patientBlock {
    background: #f7f7f7;
    border-radius: 10px;
    padding: 0 14px 10px 14px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (--sm-viewport) {
      flex-direction: column;
      align-items: flex-start;
    }

    & .patientText {
      flex: 1;

      & h3 {
        color: var(--brand-color);
      }

      & > span:not(:last-child) {
        margin-right: 10px;
      }
    }

    & .patientVisit {
      flex: 1;
      text-transform: uppercase;

      & .patientVisitDetails {
        display:inline-block;
        width: 150px;

        & > span {
          color: #21a1de;
          font-size: 20px;
          font-weight: 200;
        }
      }
    }

    & .patientAction {
      flex: 1;
      text-align: right;

      @media (--md-viewport) {
        margin-top: 10px;
      }

      & button:last-child {
        @media (--xs-viewport) {
          margin-left: 0px;
          margin-top: 10px;
        }

        @media (--md-viewport) {
          margin-top: 10px;
        }

        @media (--lg-xviewport) {
          margin-left: 20px;
        }
      }

      & .patientBtnText {
        font-size: 22px;
        width: 140px;
        display: inherit;
      }
    }
  }
}