@import '../variables.scss';
@import '../extends.scss';
@import '../mixins.scss';

.Footer {
  margin: 0 auto;
  padding: 40px 0 20px 0;
  color: #ffffff;
  background-color: $brand-color;
  font-weight: 600;
  font-size: 15px;
  @extend font-smoothing;

  a {
    color: #ffffff;
  }

  .Footer-list {
    display: flex;
    flex-direction: row;
    margin: 0 0 5em 0;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;

    .Footer-item {
      padding: 0 0.5em;

      .Footer-nav {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
        text-align: left;

        .Footer-nav-item {
          padding: 0 0.5em;
          width: 100%;

          .Footer-nav-link {
            display: inline-block;
            float: left;
            padding: 0.5em 0;
            color: #ffffff;
            font-size: 15px;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
              color: $text-color;
              text-decoration: none;
            }

            &.active {
              color: $secondary-color;
              font-weight: bold;
              cursor: default;
            }

            &-highlight {
              background-color: $secondary-color;
              color: #fff;

              &:hover {
                border: none;
                background-color: $brand-color;
                color: #fff;
              }
            }

            @media (max-width: $screen-sm-min) {
              font-size: 18px;
            }
          }
        }
      }

      .Footer-maps-button {
        display: flex;
        max-height: 32px;
        flex-direction: row;
        align-items: center;
        background-color: #eee;

        &:hover {
          @mixin box-shadow 3px 3px 5px rgba(0, 0, 0, 0.25);
        }

        .Footer-maps-label {
          flex: 1;
          text-align: center;
          line-height: 0.75em;
          padding: 5px;
          color: $text-color;
        }
      }

      .Footer-social-media {
        color: #fbeaaa;
        margin-left: 10px;

        &:hover {
          color: #fff;
        }
      }

      .Footer-tel {
        font-size: 25px;
        font-weight: bold;
      }
    }

    @media (max-width: $screen-sm-min) {
      flex-wrap: wrap;
    }
  }
}
