@import '../../variables.css';


.documentationOverallForm {

  & input:focus {
    outline: none;
  }

  & .red {
    color: #f2635f;
  }

  & .issueSetTable {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;

    & .headerRow {
      & > td {
        padding-bottom: 10px;
        text-decoration: underline;
      }
    }

    & .bodyRow {
      border-top: 1px solid #ccc;

      & > td {
        padding: 20px 0;
      }

      & .firstCol {
        vertical-align: top;
        width: 30%;
        padding-left: 10px;
        padding-right: 10px;
      }

      & .secondCol {
        width: 20%;
        vertical-align: top;
        padding-top: 20px;
      }

      & .thirdCol, & .forthCol {
        width: 25%;
        vertical-align: top;

        & .textareaInput {
          padding: 5px 15px;
          font-size: 16px;
          width: 90%;
          margin-top: 0;
          height: 94px;
        }
      }
    }

    & .bodyRow:nth-of-type(odd) {
      background: #f0f0f0;
    }

    & .bodyRow:first-of-type {
      border-top: none;
    }
  }

  & .handleForm {
    text-align: center;
    margin: 40px auto 60px;
  }
}
