@import '../../variables.css';


.documentationOverallForm {

  & .red {
    color: #f2635f;
  }

  & .overallTable {
    width: 100%;
  }

  & input:focus {
    outline: none;
  }

  & .headerRow > td {
    text-decoration: underline;
  }

  & .handleForm {
    text-align: center;
    margin: 0 auto 40px;
  }

  & .bodyRow > td {
    padding-bottom: 20px;
  }

  & .questionColumn {
    width: 35%;
    vertical-align: top;
    padding-top: 10px;
  }

  & .yesNoColumn {
    width: 15%;
    vertical-align: top;
    padding-top: 20px;

    & .yesNoInput {
      width: auto;
      padding: 0.3em 7px;
      display: inline-block;
      text-decoration: none;
      font-size: 25px;
      cursor: pointer;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      width: 60px;
      color: #fff;
      outline: none;
    }

    & .yesChoice {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    & .noChoice {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    & .yesCheck {
      background: #f2635f;
    }

    & .noCheck {
      background: #18B905;
    }
  }

  & .textareaColumn {
    width: 25%;
    vertical-align: top;

    & .textareaInput {
      padding: 5px 15px;
      font-size: 16px;
      width: 90%;
      margin-top: 10px;
      height: 94px;
    }
  }

  & .handleForm {
    text-align: center;
    margin: 40px auto;
  }

}
