@import '../variables.scss';

.Logo {
  flex: 1;

  img {
    width: 260px;
    height: 68px;
    margin: 10px 0;

    @media (max-width: $screen-sm-min) {
      width: 130px;
      height: 34px;
      margin: 5px 0;
    }
  }
}
