@import '../variables.scss';

.Logo {
  flex: 1;

  img {
    width: 170px;
    margin: 10px 0;

    @media (max-width: $screen-sm-min) {
      width: 160px;
      height: 42px;
      margin: 5px 25px;
    }
  }
}
