@import '../variables.scss';

.BookingPostSidebar {
  margin-left: 40px;
  background-color: #ffffff;
  flex: 5;
  align-self: flex-start;

  .BookingPostSidebarTitle {
    padding: 15px 25px;
    border-bottom: 2px solid #f3f3f3;
    font-size: 25px;
  }

  .BookingPostSidebarContent {
    padding: 15px 25px;
    color: #969696;
    font-size: 21px;

    .BookingPostSidebarService {
      text-transform: uppercase;
    }

    .BookingPostSidebarItem {
      box-sizing: border-box;
      width: 100%;
      padding-right: 30px;
      // background: url(../pencil.png) no-repeat top right;

      .BookingPostSidebarItemRight {
        float: right;
      }
    }

    & > div {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .BookingPostSidebarFooter {
    padding: 15px 25px;
    border-top: 2px solid #f3f3f3;
    font-size: 25px;

    .BookingPostSidebarPriceCost {
      float: right;
      color: $secondary-color;
    }
  }

  @media (max-width: $screen-sm-min) {
    margin: 50px 0 0 0;
  }
}