@import '../variables.scss';

@import 'react-datetime/css/react-datetime.css';

.BookingBankTransfer {
  position: relative;
  flex: 10;
  font-size: 21px;
  justify-content: center;

  .BookingBankTransferLogo {
    margin: 0 10px;
  }

  .rdt {
    display: inline-block;

    .rdtPicker .rdtDay {
    	cursor: pointer;
    }
  }
}