@import '../variables.css';

.patientsFormFirst {
  font-size: 21px;

  & input {
    margin: 0;
  }

  & :global .select {
    display: inline-block;
    margin: 0;
  }

  & :global .DateInput {
    margin: 0;
  }

  & .patientsFormFirstSection {
    padding: 0 0 20px;

    & .patientsFormFirstError {
      padding: 5px 0;
      color: var(--secondary-color);
    }

    & :global .datepicker__input {
      font: inherit;
      border-radius: 0;
      box-shadow: none;
    }

    & :global .btn:not(:last-child) {
      margin-right: 10px;

      @media (--xs-viewport) {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }

    @media (--sm-viewport) {
      text-align: center;
    }
  }
}
