@import '../../variables.css';


.documentationMedicalHistoryFormMedication {

  & input:focus, & textarea:focus, & select:focus {
    outline: none;
  }

  & .bodyRow {
    & > td {
      padding: 20px 0;
    }
  }
  & .selectInputColumn {
    width: 10%;
  }

  & .selectInputField {
    margin: 0;
    width: 100%;

    & .selectInput {
      width: 100%;
      border-right: none;
    }
  }

  & .indexColumn {
    width: 3%;
  }

  & .textInputColumn {
    width: 10%;
  }

  & .medicationColumn {
    width: 15%;
  }

  & .textInput {
    margin: 0;
    width: 100%;
  }

  & .textareaColumn {
    width: 17%;
  }

  & .textareaInput {
    width: 100%;
    margin-top: 0;
    padding: 6px 15px;
    font-size: 16px;
  }

  & .minusBtnColumn {
    width: 5%;
    text-align: right;

    & .multiTextFieldBtn {
      padding: 3px 7px;
      width: auto;
    }
  }

  & .addRow {
    text-align: right;

    & .multiTextFieldBtn {
      padding: 3px 10px;
      width: auto;
      margin: 10px auto 40px;
    }
  }

}
