@import '../variables.css';

.forgotPasswordForm {
  & .forgotPasswordFormError {
    padding: 5px 0;
    color: var(--secondary-color);
    font-size: 85%;
  }
}

.accountContainerItemMiddle {
  composes: accountContainerItemMiddle from '../Account/Account.css';

  & .loginContainer {
    padding: 10px 0;

    & .loginLink {
      color: var(--secondary-color);
    }
  }
}
