@import '../variables.css';

.dashboardTableButton {
  cursor: pointer;
  font-size: inherit;
  background-color: #f6f6f6;
  color: #787878;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid #787878;

  &.blue:hover {
    text-decoration: none;
    background-color: #21a1de;
    color: white;
  }

  &.green:hover {
    text-decoration: none;
    background-color: #00b42e;
    color: white;
  }

  &.red:hover {
    text-decoration: none;
    background-color: #e95900;
    color: white;
  }

  &.orange:hover {
    text-decoration: none;
    background-color: #fda738;
    color: white;
  }
}
