@import '../../variables.css';

/* .bookingApp {} */
.adminBookingsView {
  & .btnback {
    float: left;
  }

  & .buttonPanel {
    float: right;
  }

  & .caseDetail, & .personDetail {
    background: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  & ul > li {
    line-height: 28px;

    & .title {
      font-weight: bold;
      width: 130px;
      display: inline-block;
    }

    & .inlineBlock {
      display: inline-block;
    }
  }

  & .selectInput {
    margin: 0;
  }

  & .providerPickPopup {
    & .selectInput {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  & .patientDetailCont {
    margin-top: 80px;

    & > li .title {
      width: 150px;
    }
  }

  /* table classes */
  & .tableList {
    text-align: center;
  }

  & .tableListHeader {
    color: lightgrey;
    border-bottom: 1px solid lightgrey;
    font-size: 14px;
  }

  & .tableListEvenRow {
    background: #f0f0f0;
  }

  & .tableListRadio {
    background-color: #fdbc1d;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 5px 3px;
    text-align: center;
    width: 55px;
  }

  & .tableListSign {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 12px;
    margin: 0 3px;
    cursor: pointer;
  }

  & .tableListSignPlus {
    background: #f2635f;
    margin-top: 3px;
  }

  & .tableListSignMinus {
    background: green;
    margin-top: 3px;
  }

  & .tableListSignPay {
    background: #f2635f;
    width: 42px;
    display: block;
    margin: 3px auto;
  }

  & .tableListSignDelete {
    background: #f2635f;
    padding: 5px;
    width: 60px;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
  }

  & .tableListSignEdit {
    background: #f78d00;
    padding: 5px;
    width: 60px;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
  }

  & .tableListSignDoc {
    background: green;
    padding: 3px;
    width: 60px;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
    border: 2px solid green;
  }

  & .tableListSignDocNo {
    background: transparent;
    color: green;
  }

  & .tableListStatus {
    width: 75px;
    padding: 3px 5px;
    text-align: center;
    margin: 0 auto;
    white-space: initial;
  }

  & .tableListStatusGreen {
    color: #18B905;
    border: 1px solid #18B905;
  }

  & .tableListStatusRed {
    color: #f2635f;
    border: 1px solid #f2635f;
  }

  & .tableListStatusOrange {
    color: #f78d00;
    border: 1px solid #f78d00;
  }

  /* effect class */
  & .font_sm {
    font-size: 12px;
  }

  & .textAlign_bottom {
    vertical-align: bottom;
  }

  & .textAlign_textBottom {
    vertical-align: text-bottom;
  }

  & .colorRed {
    color: #f2635f;
  }
}
