@import '../variables.scss';

.InlineForm {
  background-color: #f3f3f3;

  position: relative;
  min-height: 50px;
  flex: 10;
  font-size: 21px;

  input[type=radio] {
    margin-top: 20px;
  }

  textarea {
    width: 100%;
  }

  .DateInput {
    margin: 0;
  }

  .InlineFormError {
    padding: 5px 15px;
    color: $secondary-color;
    font-size: 85%;
  }

  button {
    margin: 5px;
  }

  .select {
    display: inline-block;
    margin: 0;
  }

  .InlineFormSection {
    padding: 20px 0;
    border-top: 1px solid $border-color;

    .InlineFormGroup {
      display: inline-block;
      vertical-align: top;

      .radio {
        margin-top: 20px;
      }

      
    }
  }
}
