@import '../../variables.css';


.documentationCatheterForm {

  & .issueSetSection {
    margin-bottom: 40px;

    & .issueTitle {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      padding-top: 20px;
    }

    & .issueContent {
      display: inline-block;
      width: 450px;
      padding: 20px 0;

      & .textareaInput {
        width: 100%;
        margin-top: 0;
      }
    }
  }

  & .issueSetTable {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;

    & .headerRow {
      border-bottom: 1px solid black;

      & .firstCol {
        padding-left: 10px;
      }
    }

    & .bodyRow {
      border-top: 1px solid black;

      & > td {
        padding: 10px 0;
      }

      & .textContainerAfterSwitch {
        display: inline-block;
        margin-left: 10px;

        & .title {
          display: inline-block;
          vertical-align: top;
          margin: 13px 10px;
        }

        & .input {
          display: inline-block;
          margin-top: 0;
        }
      }

      & .firstColumn {
        vertical-align: top;
        width: 30%;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    & .bodyRow:nth-of-type(odd) {
      background: #f0f0f0;
    }

    & .bodyRow:first-of-type {
      border-top: none;
    }
  }

  & .statusSection {
    text-align: center;

    & .statusField {
      display: inline-flex;
      width: 200px;
      background: #f0f0f0;
      margin: 0 10px;
      align-items: center;
      justify-content: center;
      padding: 20px 0;

      & .statusFieldTitle {
        color: #f2635f;
        font-size: 28px;
        padding: 10px 0;
      }
    }
  }

  & .handleForm {
    text-align: center;
    margin: 40px auto 60px;
  }
}
