@import '../variables.scss';

.BookingServices {
  background-color: #f3f3f3;
  min-height: 400px;
  position: relative;

  .BookingServicesNav-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $secondary-color;

    @media (max-width: $screen-sm-min) {
      flex-direction: column;
      border-bottom: none;
    }
  }

  .BookingServicesNav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $screen-lg-min) {
      flex-wrap: wrap;
    }

    @media (max-width: $screen-sm-min) {
      justify-content: center;
    }
  }

  .BookingServicesNav-item {
    flex-grow: 1;
    padding: 0 0.5em;
    text-align: center;

    @media (max-width: $screen-sm-min) {
      width: 100%;
      text-align: left;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 65px;
      margin: 0 0.5em;
      border-bottom: 1px solid $border-color;
    }
  }

  .BookingServicesNav-item + .BookingServicesNav-item {
    @media (min-width: $screen-sm-min) {
      border-left: 1px solid $brand-color;
    }
  }

  .BookingServicesNav-link {
    position: relative;
    display: inline-block;
    padding: 0;
    color: $text-color;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $secondary-color;
      text-decoration: none;
    }

    @media (max-width: $screen-sm-min) {
      font-size: 18px;
    }

    &.active {
      color: $brand-color;

      .BookingServicesNav-arrow {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 20px;
        height: 14px;
        bottom: -24px;
        left: 0;
        right: 0;

        .nav-caret {
          display: block;
        }

        @media (max-width: $screen-sm-min) {
          display: none;
        }
      }
    }
  }

  .BookingServicesBody {
    margin-top: 50px;
    margin-bottom: 100px;
    column-count: 3;

    h3 {
      color: $secondary-color;
      font-weight: 600;
    }

    .BookingServicesItem {
      display: inline-block;
      color: $text-color;
      font-size: 15px;
      width: 100%;

      .BookingServicesRadio {
        // margin-right: 5px;
      }

      .BookingServicesRadioLabel {
        // cursor: pointer;
      }
    }

    @media (max-width: $screen-lg-min) {
      column-count: 2;
    }

    @media (max-width: $screen-sm-min) {
      column-count: 1;
    }
  }

  .BookingServicesFooter {
    padding-bottom: 100px;
    text-align: center;
  }
}