@import '../variables.css';


.adminUsers {
  & .filter {
    & .inlineField {
      display: inline-block;

      & .filterInput {
        margin: 0 -1px 0 0;

        & .filterInputInner {
          width: 150px;
        }
      }
    }
  }

  & .tableList {
    margin: 40px auto;

    & .tableListHeader {
      color: lightgrey;
      border-bottom: 1px solid lightgrey;
      font-size: 14px;
    }

    & .tableListEvenRow {
      background: lightgrey;
    }

    & .tableListBtn {
      display: inline-block;
      border-radius: 15px;
      padding: 5px;
      text-align: center;
      min-width: 65px;
      font-size: 18px;
      width: auto;
    }

    & .tableListBtn:focus {
      outline: none;
    }
  }

  & .clearSortFilter {
    cursor: pointer;
    text-decoration: underline;
    color: #f78d00;
  }

  & .bgOrange {
    background-color: #f78d00;
    color: #FFFFFF;
  }
}
