@import '../variables.css';

.loginForm {
  & .loginFormError {
    padding: 5px 0;
    color: var(--secondary-color);
    font-size: 85%;
  }
}

.accountContainerItemMiddle {
  composes: accountContainerItemMiddle from '../Account/Account.css';

  & .signupContainer {
    padding: 10px 0;

    & .signupLink {
      color: var(--secondary-color);
    }

    & .forgotPasswordLink {
      color: var(--secondary-color);
    }
  }
}
