@import '../../variables.css';


.documentationSummaryForm {

  & .issueSetSection {
    margin-bottom: 40px;

    & .issueTitle {
      display: inline-block;
      width: 200px;
      vertical-align: top;
      padding-top: 20px;
    }

    & .issueContent {
      display: inline-block;
      width: 450px;
      padding: 20px 0;

      & .textareaInput {
        width: 100%;
        margin-top: 0;
      }

      & .yesNoInput {
        padding: 35px 0;
      }
    }
  }

  & .handleForm {
    text-align: center;
    margin: 40px auto 60px;
  }
}
