@import '../variables.css';

.bookingSidebar {
  margin-left: 40px;
  background-color: #fff;
  flex: 5;
  align-self: flex-start;

  & .bookingSidebarTitle {
    padding: 15px 25px;
    border-bottom: 2px solid #f3f3f3;
    font-size: 25px;
  }

  & .bookingSidebarContent {
    padding: 15px 25px;
    color: #969696;
    font-size: 21px;

    & .bookingSidebarService {
      text-transform: uppercase;
    }

    & .bookingSidebarItem {
      box-sizing: border-box;
      width: 100%;
      padding-right: 30px;
      background: url(../pencil.png) no-repeat top right;
    }

    & a {
      color: #969696;

      &:hover {
        text-decoration: none;
      }
    }

    & > a {
      & > div {
        margin-top: 10px;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  & .bookingSidebarFooter {
    padding: 15px 25px;
    border-top: 2px solid #f3f3f3;
    font-size: 25px;

    & .bookingSidebarPriceCost {
      float: right;
      color: var(--secondary-color);
    }
  }

  @media (--sm-viewport) {
    margin: 50px 0 0;
    width: 100%;
  }
}
